body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 241, 227);

  background-image:linear-gradient(rgba(99, 96, 96, 0.5),rgba(246, 243, 243, 0.5)), url(../src/assets/products/10.jpg);
    background-size: cover;
    background-position: center;
}

code {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}
